.video_wrap {
    padding: 90px 30px 50px;
    height: 100vh;

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        height: 3px;
        background: #FF6D6D;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: linen;
        border-radius: 10px;
    }

    .retrun_btn {
        background-color: #00000000;

        img {
            width: 15px;
        }
    }

    h2 {
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
        color: var(--black400);
        font-weight: 900;
        line-height: 1.3;

        strong {
            font-weight: 900;
            color: var(--black);
        }
    }

    .submit {
        margin-top: 30px;
        height: 45px;
        background-color: var(--maincolor01);
        color: var(--white);
        border-radius: 10px;
        font-weight: 700;
        padding-top: 4px;
        width: 100%;
    }

    .video {
        border-radius: 30px;
        margin-top: 20px;
        height: 70%;
        background-color: #FFEAEA;
        overflow: auto;
        padding: 35px 25px;

        .video_detail {
            margin-bottom: 60px;

            .header {
                display: flex;
                justify-content: space-between;
                padding: 0 5px;

                h3 {
                    font-size: 20px;
                    font-weight: 900;
                    color: var(--black300);
                }

                >div {
                    display: flex;
                    align-items: center;

                    img {
                        width: 15px;
                        margin-bottom: 5px;
                    }

                    p {
                        color: var(--maincolor01);
                        font-weight: 900;
                    }
                }
            }

            .video_box {
                margin-top: 5px;
                width: 100%;
                height: 170px;
                background-color: var(--white);
                border-radius: 12px;
                position: relative;

                >div {
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    background-color: var(--maincolor01);
                    border-radius: 0 0 12px 12px;
                    padding: 10px 18px 4px;
                    color: var(--white);

                    p {
                        font-size: 12px;
                    }

                    h4 {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .choose {
        margin-top: 40px;
        width: 100%;
        background-color: var(--maincolor01);
        padding: 18px 0 15px;
        border-radius: 10px;
        color: var(--white);
        font-size: 15px;
        font-weight: 700;
    }

    .loading {
        height: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        p {
            font-weight: 900;
            font-size: 22px;

            strong {
                font-weight: 900;
                color: var(--maincolor02);
            }
        }

        .text {
            font-size: 20px;
            color: var(--black300);
            padding-bottom: 3px;
        }

        h3 {
            padding-top: 3px;
            font-weight: 900;
            font-size: 48px;
            line-height: 1.2;
        }

        >div {
            margin-top: 15px;
            margin-bottom: 50px;
        }
    }
}

.app {
    display: flex;
    justify-content: center;
    background-color: #000000ce;
    position: relative;
    overflow: hidden;

    .VideoDetail_wrap {
        display: flex;
        transform: rotate(90deg);
        margin: auto;

        button {
            position: absolute;
            background-color: #00000000;
            width: 15px;
            left: -50px;
        }

        .timer {
            position: absolute;
            right: -40px;
            bottom: 30px;
            display: flex;
            color: var(--white);

            .timer_box {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 30px;
                }

                >div {
                    display: flex;
                    height: 200px;
                    align-items: flex-end;
                    border-radius: 50px;
                    margin: 3px 0;
                    background-color: var(--white);

                    .timerber {
                        width: 20px;
                        border-radius: 50px;
                        background-color: var(--maincolor01);
                        position: relative;

                        img {
                            position: absolute;
                            right: -9px;
                            top: -4px;
                            width: 35px;
                        }
                    }

                }
            }

        }
    }
}